<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registrarse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="registerForm" (ngSubmit)="iniciar_sesion()">

      <ion-item>
        <ion-label position="floating">Correo:</ion-label>
        <ion-input type="text" formControlName="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Clave:</ion-label>
        <ion-input [type]="showpass === true ? 'text' : 'password'" formControlName="clave"></ion-input>
        <ion-icon [name]="showpass === true ? 'eye' : 'eye-off'" slot="end" (click)="showpass = !showpass"></ion-icon>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating">Confirmar clave:</ion-label>
        <ion-input [type]="showpass2 === true ? 'text' : 'password'" formControlName="clave2"></ion-input>
        <ion-icon [name]="showpass2 === true ? 'eye' : 'eye-off'" slot="end" (click)="showpass2 = !showpass2"></ion-icon>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">Perfil:</ion-label>
        <ion-select formControlName="perfil">
          <ion-select-option value="admin">Administrador</ion-select-option>
          <ion-select-option value="invitado">Invitado</ion-select-option>
          <ion-select-option value="usuario">Usuario</ion-select-option>
          <ion-select-option value="tester">Tester</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Sexo:</ion-label>
        <ion-select formControlName="sexo">
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="masculino">Masculino</ion-select-option>
        </ion-select>
      </ion-item>

    </form>
    <ion-row padding>
      <ion-col size=6>
        <ion-button shape="square" color="primary" expand="block" [disabled]="!registerForm.valid" (click)="registrarme()">Registrarme</ion-button>
      </ion-col>
      <ion-col size=6>
        <ion-button shape="square" color="light" expand="block" (click)="iniciar_sesion()">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>